{% extends 'base.html.twig' %}

{% block title %}Account Error{% endblock %}


{% block body %}
    <h1>Ooops!</h1>
    <p>Your account is not active. Visit our <a href="login.php">login page</a> to sign in your account to get more information.</p>
{% endblock %}
