{% extends 'base.html.twig' %}

{% block title %}Validation Error{% endblock %}


{% block body %}
    <h1>Ooops!</h1>
    <p>Account is already validated</p>
    <p>Please visit our <a href="login.php">login page</a> to sign in your account</p>
{% endblock %}
