{% extends 'base.html.twig' %}

{% block title %}Validation Error{% endblock %}


{% block body %}
    <h1>Ooops!</h1>
    <p>Your validation link is broken. Please, try to click validation link again.</p>
    <p>Also you can visit our <a href="login.php">login page</a> to sign in your account and resend validation link to your email</p>
{% endblock %}
