{% extends 'base.html.twig' %}

{% block title %}Success Registration{% endblock %}

{% block body %}
	<h1>Congratulations!</h1>
	<p>Registration complete. Check your email for confirmation registration.</p>
{% endblock %}
