{% block body %}
Hello {{ customer.name }}.<br>
To verify your registration at {{ server }} click the next link: <a href="http://{{ server}}{{ customer.validationLink }}">click to validate</a>
{% endblock %}